@model TecnoHelp.Models.Usuario

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Usuário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nome)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-2">Perfil</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.TipoUsuario)</dd>

        <dt class="col-sm-2">Data de Cadastro</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DataCadastro)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Ativo)</dt>
        <dd class="col-sm-10">@(Model.Ativo ? "Sim" : "Não")</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>